/vendor
/console
/www/core
/www/profiles
/.editorconfig
/www/modules/contrib
/www/themes/contrib
/www/sites/example.settings.local.php
/www/sites/example.sites.php
/www/sites/default/files
/www/sites/default/private
/www/sites/default/default.services.yml
/www/sites/default/default.settings.php
/www/sites/default/settings.local.php
/.buildpath
/.settings/
/.project
/.idea
